@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font);
  font-size: 13px;
  transition: 0.4s all ease-in-out;
}

:root {
  --font: "Manrope", sans-serif;
  --Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--Light-Grayish-Blue);
}

.container {
  display: grid;
  height: 100vh;
  place-content: center;
  margin-inline: auto;
  width: 330px;
}

.img-container {
  width: 330px;
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
  display: block;
  margin-inline: auto;
}

.text-section {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 4px 4px 4px rgba(198, 196, 196, 0.062);
}

.text-section .heading {
  padding-block: 2rem;
  padding-inline: 2.5rem;
  color: var(--Dark-Grayish-Blue);
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.text-section .subtext {
  padding-inline: 2.5rem;
  color: var(--Desaturated-Dark-Blue);
  font-size: 1.05rem;
  line-height: 1.55rem;
  padding-bottom: 1.3rem;
}

.inactive-state {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-inline: 2.5rem;
  padding-bottom: 1.6rem;
}

.footer-image {
  width: 40px;
  height: auto;
}

.footer-image img {
  width: 100%;
  border-radius: 100%;
}

.avatar-name {
  margin-right: 1.8rem;
}

.avatar-name .name {
  color: var(--Dark-Grayish-Blue);
}

.avatar-name p {
  color: var(--Desaturated-Dark-Blue);
  margin-top: 0.2rem;
}

.icon {
  background-color: var(--Light-Grayish-Blue);
  padding: 0.5rem 0.6rem;
  border-radius: 100%;
}

.icon img {
  cursor: pointer;
}

.attribution p,
.attribution a {
  margin-top: -1.3rem;
  font-size: 0.9rem;
  text-align: center;
}

/* Active State */
.active {
  margin-top: 0.5rem;
  padding-block: 1.2rem;
  padding-inline: 2rem;
  background-color: var(--Dark-Grayish-Blue);
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 0 0 1rem 1rem;
}

.share p {
  font-size: 0.9rem;
  color: var(--Grayish-Blue);
  letter-spacing: 0.5rem;
}

.social-icons {
  display: flex;
  margin-right: 1.8rem;
  align-items: center;
  gap: 1.2rem;
}

.social-icons img:hover {
  cursor: pointer;
}

.share-icon {
  background-color: var(--Grayish-Blue);
  padding-block: 0.4rem;
  padding-inline: 0.5rem;
  border-radius: 100%;
}

.share-icon img:hover {
  cursor: pointer;
}

/* Removes the desktop share icon on the mmobile view */
.desktop-share-icon {
  display: none;
}
/* Active state ends */

/* Hides hidden state */
.hidden {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
  }

  .img-container img {
    border-radius: 1rem 0 0 1rem;
    height: 261px;
  }

  .text-section {
    border-radius: 0 1rem 1rem 0;
    box-shadow: none;
    position: relative;
  }

  .text-section .heading {
    padding-inline: 2rem;
    width: 400px;
    font-size: 1.5rem;
  }

  .text-section .subtext {
    font-size: 1rem;
    width: 450px;
    padding-inline: 2rem;
  }

  .inactive-state {
    gap: 1.8rem;
  }

  /* Adds a new share-icon on dekstop view */
  .desktop-share-icon {
    display: block;
    padding-block: 0.2rem;
  }

  /* Removes the mobile share-icon on the desktop view  */
  .inactive-share-icon {
    display: none;
  }

  .avatar-name {
    margin-right: 11rem;
  }

  /* Desktop modal container */
  .hide-modal {
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 50%;
    right: -10%;
    width: 230px;
    padding-inline: 2rem;
    padding-block: 1.3rem;
    border-radius: 1rem;
    box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.136);
  }

  /* Hides desktop modal */
  .displayNone {
    display: none;
  }

  .share-icon {
    display: none;
    background-color: none;
  }
}
